@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased; /* Makes font look crisp on Mac/iOS */
  -moz-osx-font-smoothing: grayscale; /* Makes font look crisp on Firefox */
}
